__pycache__/
*.py[cod]
*$py.class
*.so
.Python

text.py

.venv/
venv/
ENV/
env/

*.csv
*.csv

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

*.mp4

git_function.txt

MNIST_ANN/data/

MNIST_ANN/My_ver/data/
.pkl